<%= render "form" %>

<% @recent.each do |snap| %>
  <% div_for(snap, :class => "thumb #{cycle("l", "r")}") do %>
    <%= image_tag snap.image.url(:thumb) %>
    <p><%=h snap.url %></p>
  <% end %>
<% end %>

