<html>
<head>
  <title>Cnapper</title>
  <style type="text/css">
    body {
      margin: 0; padding: 0;
      }
    #container {
      margin : 0;
      padding : 20px ;
      background : url('/images/blue-gradient.png') repeat-y ;
      height: 100%;
      width: 701px;
      position : fixed;
      overflow: scroll; 
     }
    div.snap.thumb {
      float :left;
      width: 340px;
      }
    div.snap.thumb.l {
      clear : both;
      }
  </style>
</head>

<body>
  <div id="container">
    <h1>Cnapper</h1>
    <p>Simple, scalable thumbnails... maybe</p>
    <%= yield %>
  </div>
</body>
</html>
